// Placeholder to allow overriding predefined variables smoothly.

// Override default fonts
$base-font-family: Calibri, "Segoe UI", Candara, "Trebuchet MS", sans-serif !default;
$base-font-size: 16px !default;
$base-line-height: 1.6 !default;
